/*
Style sheet by Louis de Wardt and Tommy Birt - Copyright belongs to Tommy Birt
*/
/*
Fonts
*/
@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-black.eot');
  src: url('fonts/lato/lato-black.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-black.woff') format('woff'), url('fonts/lato/lato-black.ttf') format('truetype'), url('fonts/lato/lato-black.svg#latoblack') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-bold.eot');
  src: url('fonts/lato/lato-bold.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-bold.woff') format('woff'), url('fonts/lato/lato-bold.ttf') format('truetype'), url('fonts/lato/lato-bold.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-bolditalic.eot');
  src: url('fonts/lato/lato-bolditalic.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-bolditalic.woff') format('woff'), url('fonts/lato/lato-bolditalic.ttf') format('truetype'), url('fonts/lato/lato-bolditalic.svg#latobold-italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-italic.eot');
  src: url('fonts/lato/lato-italic.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-italic.woff') format('woff'), url('fonts/lato/lato-italic.ttf') format('truetype'), url('fonts/lato/lato-italic.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-light.eot');
  src: url('fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-light.woff') format('woff'), url('fonts/lato/lato-light.ttf') format('truetype'), url('fonts/lato/lato-light.svg#latolight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('fonts/lato/lato-regular.eot');
  src: url('fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'), url('fonts/lato/lato-regular.woff') format('woff'), url('fonts/lato/lato-regular.ttf') format('truetype'), url('fonts/lato/lato-regular.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
Elements
*/
p
{
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color: #CCD6CC;
}
p:hover
{
    color: #00CC00;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Lato", Helvetica, Arial, sans-serif;
	color:#49345e;	
}
/*
Columns
*/
.col-0
{
	position: absolute;
	left:0px;
}
.col-1
{
	position: absolute;
	left:10%;
}
.col-2
{
	position: absolute;
	left:20%;
}
.col-3
{
	position: absolute;
	left:30%;
}
.col-4
{
	position: absolute;
	left:40%;
}
.col-5
{
	position: absolute;
	left:50%;
}
.col-6
{
	position: absolute;
	left:60%;
}
.col-7
{
	position: absolute;
	left:70%;
}
.col-8
{
	position: absolute;
	left:80%;
}
.col-9
{
	position: absolute;
	left:90%;
}

/*
Colours
*/

.redText {
    color:#E04C4C;
}

.redBackground {
    background-color:#E04C4C;
}

.yellowText {
    color:#FAEC2D;
}

.yellowBackground {
    background-color:#FAEC2D;
}

.blueText {
    color:#5454FF;
}

.blueBackground {
    background-color:#5454FF;
}

.whiteText {
    color:#FFFFFF;
}

.whiteBackground {
    background-color:#FFFFFF;
}

.blackText {
    color:#000000;
}

.blackBackground {
    background-color:#000000;
}

/*
Misc
*/

.centre {
    text-align: center;
}